{% for field, value in mgmt_wifi.items() %}
{{ field }}={{ value }}
{% endfor %}

# NOTE: Please reboot after making any change to this file.
# NOTE 2: You may get away with not rebooting by running: `killall -vs SIGHUP hostapd`
